<!doctype html>
<html>
    <head>
        <meta charset="utf8">
        <title>IkOn db</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="/libs/sql-wasm.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <div id="status-box">
                    <span v-if="loaded">connected</span>
                    <span class="warning" v-else>connecting to database...</span>
                </div>
                <h1>Ikon DB</h1>
                
            </header>

            <main>
                <section>
                    <h3>exhibitions</h3>
                    <input v-model="query_exhibition" placeholder="find by title">
                    <table>
                        <thead>
                            <tr>
                            	
                                <td>id</td>
                                <td>title</td>
                                <td>date</td>
                                <td>gallery</td>
                                <td>artists</td>
                                <td>html</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="_ in exhibitions">
                            	
                                <td>{{ _.id }}</td>
                                <td>{{ _.title }}</td>
                                <td>{{ _.date }}</td>
                                <td>
                                    <span class="label">{{ _.gallery }}</span>
                                </td>
                                <td>
                                    <template v-for="artist in _.artists">
                                        <span class="label" :title=artist.id>{{ artist.name }}</span>
                                    </template>
                                </td>
                                <td class="ikon-source" v-html="_.html"></td>

                            </tr>

                        </tbody>
                    </table>
                </section>
<!--                  <section>
                    <h3>artists</h3>
                    <input v-model="query_artist" placeholder="find by name">
                    <textarea data-gramm_editor="false" v-bind:class="{ valid: artist_filter_valid }" class="code" v-model="artist_filter_expression" placeholder="find by exp"></textarea>
                    <div>{{artist_filter_error_msg}}</div>
                    <table>
                        <thead>
                            <tr>
                                <td>id</td>
                                <td>name</td>
                                <td>No. exhibitions</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="_ in artists">
                                <td>{{ _.id }}</td>
                                <td>{{ _.name }}</td>
                                <td>{{_.exhibitioncount}}</td>
                            </tr>

                        </tbody>
                    </table>
                </section> -->
            </main>

        </div>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>